<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript">
        function submitForm() {
            var canvas = document.querySelector('canvas');
            var fileInput = document.querySelector('input[type="file"]');
            var image = new Image();
            image.src = URL.createObjectURL(fileInput.files[0]);

            image.onload = function () {
                canvas.width = image.width;
                canvas.height = image.height;
                var context = canvas.getContext('2d');
                context.drawImage(image, 0, 0, canvas.width, canvas.height);

                var formData = new FormData();
                var dataURL = canvas.toDataURL('image/tiff');
                var binary = atob(dataURL.split(',')[1]);
                var array = [];
                for (var i = 0; i < binary.length; i++) {
                    array.push(binary.charCodeAt(i));
                }
                var blob = new Blob([new Uint8Array(array)], {type: 'image/tiff'});
                formData.append('image', blob);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/predict', true);
                xhr.onload = function () {
                    console.log(xhr.responseText);
                    var response = JSON.parse(xhr.responseText);
                    var xmin = Math.round(response.prediction[0][0] * canvas.width);
                    var xmax = Math.round(response.prediction[0][1] * canvas.width);
                    var ymin = Math.round(response.prediction[0][2] * canvas.height);
                    var ymax = Math.round(response.prediction[0][3] * canvas.height);
                    console.log(xmin, xmax, ymin, ymax);

                    var context = canvas.getContext('2d');
                    context.beginPath();
                    context.strokeStyle = "red";
                    context.rect(xmin, ymin, xmax - xmin, ymax - ymin);
                    context.stroke();
                };
                xhr.send(formData);
            };
        }
    </script>
</head>
<body>
<button onclick="submitForm()">Predict</button>
<button><label for="test">Scan</label></button>
<input id="test" type="file" accept="image/*" capture="environment" style="visibility: hidden">
<canvas></canvas>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/guide">Guide</a></li>
    <li><a href="/scan">Scan</a></li>
</ul>
</body>
</html>
