<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript">
        function isMobile() {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }

        function submitForm() {
            var canvas = document.querySelector('canvas');
            var fileInput = document.querySelector('input[type="file"]');
            var image = new Image();
            image.src = URL.createObjectURL(fileInput.files[0]);

            image.onload = function () {
                canvas.width = image.width;
                canvas.height = image.height;
                var context = canvas.getContext('2d');
                context.drawImage(image, 0, 0, canvas.width, canvas.height);

                var formData = new FormData();
                var dataURL = canvas.toDataURL('image/tiff');
                var binary = atob(dataURL.split(',')[1]);
                var array = [];
                for (var i = 0; i < binary.length; i++) {
                    array.push(binary.charCodeAt(i));
                }
                var blob = new Blob([new Uint8Array(array)], {type: 'image/tiff'});
                formData.append('image', blob);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/predict', true);
                xhr.onload = function () {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response);
                    var preds_plate = response.plate;
                    var preds_vehicle = response.vehicle;
                    var xmin_plate = Math.round(preds_plate[0][0] * canvas.width);
                    var ymin_plate = Math.round(preds_plate[0][1] * canvas.height);
                    var xmax_plate = Math.round(preds_plate[0][2] * canvas.width);
                    var ymax_plate = Math.round(preds_plate[0][3] * canvas.height);
                    var xmin_vehicle = Math.round(preds_vehicle[0][0] * canvas.width);
                    var ymin_vehicle = Math.round(preds_vehicle[0][1] * canvas.height);
                    var xmax_vehicle = Math.round(preds_vehicle[0][2] * canvas.width);
                    var ymax_vehicle = Math.round(preds_vehicle[0][3] * canvas.height);

                    var context = canvas.getContext('2d');
                    context.beginPath();
                    context.strokeStyle = "red";
                    context.lineWidth = 2;
                    context.rect(xmin_plate, ymin_plate, xmax_plate - xmin_plate, ymax_plate - ymin_plate);
                    context.stroke();
                    context.beginPath();
                    context.strokeStyle = "blue";
                    context.lineWidth = 2;
                    context.rect(xmin_vehicle, ymin_vehicle, xmax_vehicle - xmin_vehicle, ymax_vehicle - ymin_vehicle);
                    context.stroke();
                };
                xhr.send(formData);
            };
        }

        window.onload = function () {
            if (!isMobile()) {
                document.querySelector('button[onclick="submitForm()"]').style.display = 'inline-block';
                document.querySelector('button label[for="Scan"]').parentNode.style.display = 'inline-block';
            } else {
                var message = document.createElement('p');
                message.innerText = 'Please visit this page on a mobile device.';
                document.body.appendChild(message);
            }
        };
    </script>
</head>
<body>
<button onclick="submitForm()" style="display: none">Predict</button>
<button style="display: none"><label for="Scan">Scan</label></button>
<input id="Scan" type="file" accept="image/*" capture="environment" style="visibility: hidden">
<canvas></canvas>
{% include 'navbar.html' %}
</body>
</html>
